<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" data-ng-click="vm.action.toggle()">
            <md-icon>menu</md-icon>
        </md-button>
       <div flex></div>
        <md-button class="md-icon-button" aria-label="Logout" data-ng-click="vm.action.logout()">
            <md-icon>exit_to_app</md-icon>
        </md-button>
    </div>
</md-toolbar>