<md-content ng-cloak style="margin-left: 8px; margin-right: 8px;">
    <div layout="column">
        <div layout="row" flex="">
            <div layout="row" layout-align="center center">
                <md-button class="md-icon-button" data-ng-click="vm.action.backHome()">
                    <md-icon>home</md-icon>
                </md-button>
            </div>
            <div layout="row" layout-align="center center">
                    <h2>Sensor List</h2>
            </div>
            <div layout="row" flex="5"></div>
            <div layout="row" flex="" layout-align="center center">
                <md-input-container flex="" style="margin-bottom: -6px;" >
                    <label>Id</label>
                    <input name="filderId" id="filterId" data-ng-model="vm.data.filter.id">
                </md-input-container>
            </div>
            <div layout="row" flex="" layout-align="center center">
                <md-input-container flex="">
                    <label>Type</label>
                    <md-select name="filderType" id="filterType" ng-model="vm.data.filter.type">
                        <md-option ng-repeat="type in vm.data.catalog.sensorTypes" ng-value="type.key">
                            {{type.description}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" flex="" layout-align="center center">
                <md-input-container flex="">
                    <label>Unit</label>
                    <md-select name="filderUnit" id="filterUnit" ng-model="vm.data.filter.unit">
                        <md-option ng-repeat="unit in vm.data.catalog.sensorUnits" ng-value="unit.key">
                            {{unit.description}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" flex="" layout-align="center center">
                <md-input-container flex="">
                    <label>Status</label>
                    <md-select name="filderStatus" id="filderStatus" ng-model="vm.data.filter.status">
                        <md-option ng-repeat="status in vm.data.catalog.status" ng-value="status.key">
                            {{status.description}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" layout-align="center center">
                <md-button class="md-fab md-raised md-mini" aria-label="Search"
                           data-ng-click="vm.action.search()">
                    <md-tooltip md-direction="down">
                        Search
                    </md-tooltip>
                    <md-icon>search</md-icon>
                </md-button>
            </div>
            <div layout="row">
                <md-fab-speed-dial md-open="vm.isOpen" md-direction="left" ng-class="'md-scale'">
                    <md-fab-trigger>
                        <md-button aria-label="menu" class="md-fab md-primary md-mini">
                            <md-icon>menu</md-icon>
                        </md-button>
                    </md-fab-trigger>

                    <md-fab-actions>
                        <md-button class="md-fab md-raised md-mini" aria-label="Details"
                                   data-ng-disabled="vm.data.selected.length != 1"
                                   ui-sref="main.sensor({ houseId: vm.data.houseId, sensorId: vm.data.selected[0].id })">
                            <md-tooltip md-direction="down">
                                Details
                            </md-tooltip>
                            <md-icon>details</md-icon>
                        </md-button>

                        <md-button class="md-fab md-raised md-mini" aria-label="Add"
                                   data-ng-click="vm.action.add()">
                            <md-tooltip md-direction="down">
                                Add
                            </md-tooltip>
                            <md-icon>add</md-icon>
                        </md-button>

                        <md-button class="md-fab md-raised md-mini" aria-label="Edit"
                                   data-ng-disabled="vm.data.selected.length != 1"
                                   data-ng-click="vm.action.edit(vm.data.selected[0])">
                            <md-tooltip md-direction="down">
                                Edit
                            </md-tooltip>
                            <md-icon>edit</md-icon>
                        </md-button>

                        <md-button class="md-fab md-raised md-mini" aria-label="Delete"
                                   data-ng-disabled="vm.data.selected.length == 0"
                                   data-ng-click="vm.action.remove()">
                            <md-tooltip md-direction="down">
                                Clear
                            </md-tooltip>
                            <md-icon>delete</md-icon>
                        </md-button>
                        <md-button class="md-fab md-raised md-mini" aria-label="Add"
                                   data-ng-disabled="vm.data.selected.length == 0"
                                   data-ng-click="vm.action.changeStatus(vm.data.selected)">
                            <md-tooltip md-direction="down">
                                Status
                            </md-tooltip>
                            <md-icon>settings_power</md-icon>
                        </md-button>

                        <md-button class="md-fab md-raised md-mini" aria-label="Add"
                                   data-ng-disabled="vm.data.selected.length == 0"
                                   data-ng-click="vm.action.compare(vm.data.selected)">
                            <md-tooltip md-direction="down">
                                Compare
                            </md-tooltip>
                            <md-icon>compare_arrows</md-icon>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>
        </div>
        <div layout="column" md-whiteframe="2">
            <md-divider></md-divider>
            <md-table-container>
                <table md-table md-row-select multiple ng-model="vm.data.selected" md-progress="promise">
                    <thead md-head md-order="query.order" md-on-reorder="vm.action.search">
                    <tr md-row>
                        <th md-column md-order-by="id">ID</th>
                        <th md-column md-order-by="name">Name</th>
                        <th md-column md-order-by="type">Type</th>
                        <th md-column md-order-by="unit">Unit</th>
                        <th md-column md-order-by="interval">Interval</th>
                        <th md-column md-order-by="status">Status</th>
                        <th md-column md-order-by="createdDate">Created At</th>
                        <th md-column md-order-by="createdBy">Created By</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row md-select="sensor" md-select-id="id" md-auto-select
                        ng-repeat="sensor in vm.data.sensors">
                        <td md-cell>{{sensor.id}}</td>
                        <td md-cell>{{sensor.name}}</td>
                        <td md-cell>{{sensor.type}}</td>
                        <td md-cell>{{sensor.unit}}</td>
                        <td md-cell>{{sensor.interval}}</td>
                        <td md-cell>{{sensor.status}}</td>
                        <td md-cell>{{sensor.createdDate}}</td>
                        <td md-cell>{{sensor.createdBy}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="vm.data.filter.pageSize" md-limit-options="[5, 10, 15]"
                                 md-page="vm.data.filter.pageNo"
                                 md-total="{{vm.data.sensors.length}}" md-on-paginate="vm.action.search"
                                 md-page-select></md-table-pagination>
        </div>


    </div>
</md-content>
