<div layout="row" flex="" md-whiteframe="2" layout-fill style="min-width: 1000px;">
    <nvd3 options="vm.data.chart.options" data="vm.data.chart.data" api="vm.data.chart.api"
          class="with-3d-shadow with-transitions" flex="100"></nvd3>
</div>
