<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-dialog-content flex>
            <div layout="row" flex>
            <md-input-container flex="100">
                <label>State</label>
                <md-select ng-model="vm.data.state" flex="100">
                    <md-option ng-repeat="state in vm.data.states" ng-value="state.key">
                        {{state.description}}
                    </md-option>
                </md-select>
            </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button data-ng-click="vm.action.close()">
                Cancel
            </md-button>

            <md-button class="md-primary md-raised" md-autofocus data-ng-click="vm.action.save()">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>