<md-content>
    <div layout="column" md-whiteframe="2">
        <div layout="row" flex style="padding-left: 8px;">
            <div layout="row" layout-align="center center">
                <div layout="row" layout-align="center center" flex="">
                    <md-input-container flex="95">
                        <label>Name</label>
                        <input type="text" name="houseName" id="houseName" data-ng-model="vm.data.house.name">
                    </md-input-container>
                </div>
                <div layout="row" layout-align="center center" flex="">
                    <md-input-container>
                        <label>Base Interval</label>
                        <input type="text" name="houseInterval" id="houseInterval"
                               data-ng-model="vm.data.house.interval">
                    </md-input-container>
                    <span style="padding-bottom: 10px;">min</span>
                </div>
            </div>
            <div layout="row" flex=""></div>
            <div layout="row" flex="" layout-align="end center">
                <md-button class="md-icon-button" data-ng-click="vm.action.save()">
                    <md-icon>save</md-icon>
                </md-button>
                <md-button class="md-fab md-primary md-mini" data-ng-click="vm.action.toSensorList()">
                    <md-icon>settings_input_antenna</md-icon>
                </md-button>
            </div>
        </div>
        <div layout="row" flex="">
            <address address="vm.data.house.address" flex=""></address>
        </div>
    </div>

    <div layout="row" layout-padding="" flex=""></div>
    <div layout="row">
        <div layout="row" flex="30" md-whiteframe="2">
            <ng-map center="{{vm.data.house.address.latitude}},{{vm.data.house.address.longitude}}" zoom="14"
                    layout-fill="">
                <marker position="[{{vm.data.house.address.latitude}},{{vm.data.house.address.longitude}}]"
                        title="hello"></marker>
            </ng-map>
        </div>
        <div layout="column" flex="70" style="margin-left: 8px;">
            <div layout="row" flex>
                <weather data="vm.data.weather.current"></weather>
                <weather data="vm.data.weather.days[0]"></weather>
                <weather data="vm.data.weather.days[1]"></weather>
                <weather data="vm.data.weather.days[2]"></weather>
            </div>
        </div>

    </div>
</md-content>
