<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Temperature: {{vm.data._temp}}&#8451</span>
            <span class="md-subhead" style="margin-top: -15px;"">Min: {{vm.data._minTemp}}&#8451 - Max: {{vm.data._maxTemp}}&#8451</span>
            <!--<span class="md-subhead" style="margin-left: 65%; margin-top: -15px;">{{vm.data.date}}</span>-->
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column" layout-align="space-between">
        <div layout="row">
            <span>Humidity: {{vm.data._humidity}} %</span>
        </div>
        <div layout="row">
            <span>Pressure: {{vm.data._pressure}}</span>
        </div>
        <div layout="row" flex="">
            <div layout="row" flex></div>
            <div layout="row">
                <h5>{{vm.data.date}}</h5>
            </div>
        </div>
    </md-card-content>
</md-card>
