.standBy {
    color: #fff;
    background: #0000ff;
}

.active {
    color: #fff;
    background: #00ff00;
}

.stopped {
    color: #fff;
    background: #ff0000;
}
.expandButton {
    -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s;
    margin-left: -20px;
}
.expandButtonExpanded{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.baseTable{
    -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s;
    width: 40%;
}

.baseTableContracted {
    width: 2%;
}
