<div layout="column">
    <!-- Sensor general data and options -->
    <div layout="row" >
        <div layout="row" layout-align="center center">
            <md-button class="md-icon-button" ui-sref="main.sensors({ houseId: vm.data.houseId})">
                <md-icon>arrow_back</md-icon>
            </md-button>
        </div>
        <div layout="row" layout-align="center center">
            <div layout="row">
                <md-input-container style="margin-bottom: -6px;">
                    <label> Name </label>
                    <input name="sensorName" id="sensorName" data-ng-model="vm.data.sensor.name">
                </md-input-container>
            </div>
            <div layout=" row" flex="30">
                <md-input-container flex="95">
                    <label>Type</label>
                    <md-select name="sensorType" id="sensorType" ng-model="vm.data.sensor.type">
                        <md-option ng-repeat="type in vm.data.catalog.sensorTypes" ng-value="type.key">
                            {{type.description}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" flex="20">
                <md-input-container flex="95">
                    <label>Unit</label>
                    <md-select name="sensorUnit" id="sensorUnit" ng-model="vm.data.sensor.unit">
                        <md-option ng-repeat="type in vm.data.catalog.sensorUnits" ng-value="type.key">
                            {{type.description}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" flex="20">
                <md-input-container style="margin-bottom: -6px;">
                    <label>Interval</label>
                    <input type="text" name="interval" id="interval" data-ng-model="vm.data.sensor.interval">
                    <md-tooltip>Minutes</md-tooltip>
                    <md-icon>timer</md-icon>
                </md-input-container>
            </div>
        </div>
        <div flex></div>
        <div layout="row" layout-align="center center">
            <md-button class="md-icon-button" data-ng-click="vm.action.updateStatus()">
                <md-icon ng-style="{color: vm.statusColor, 'font-size': 30+ 'px', 'height': 30+ 'px'}">
                    <md-tooltip md-direction="down">
                        Status
                    </md-tooltip>
                    settings_power
                </md-icon>
            </md-button>
        </div>
        <div layout="row" layout-align="center center">
            <md-button class="md-icon-button md-primary" data-ng-click="vm.action.save()">
                <md-icon>
                    <md-tooltip md-direction="down">
                        Save
                    </md-tooltip>
                    save
                </md-icon>
            </md-button>
        </div>
    </div>

    <div layout="row" flex>
        <!-- Sensor value data -->
        <div layout="row" class="baseTable" ng-class="{'baseTableContracted': vm.flags.fullChart}" md-whiteframe="2">
            <div data-ng-show="!vm.flags.fullChart" layout="column" flex="">
                <md-table-container>
                    <table md-table md-row-select multiple ng-model="vm.data.selected" md-progress="promise">
                        <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                        <tr md-row>
                            <th md-column md-order-by="id">ID</th>
                            <th md-column md-order-by="value">Value</th>
                            <th md-column md-order-by="unit">Unit</th>
                            <th md-column md-order-by="takenAt">Taken At</th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row md-select="record" md-select-id="id" md-auto-select
                            ng-repeat="record in vm.data.records.resultList">
                            <td md-cell>{{record.id}}</td>
                            <td md-cell>{{record.value}}</td>
                            <td md-cell>{{record.unit}}</td>
                            <td md-cell>{{record.takenAt}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>

                <md-table-pagination md-limit="vm.data.filter.pageSize" md-limit-options="[5, 10, 15]"
                                     md-page="vm.data.filter.pageNo"
                                     md-total="{{vm.data.records.resultTotal}}" md-on-paginate="vm.action.search"
                                     md-page-select></md-table-pagination>
            </div>
        </div>
        <div layout="column">
        <md-button class="md-primary md-mini md-fab expandButton"
                   data-ng-class="{'expandButtonExpanded' : vm.flags.fullChart}" data-ng-click="vm.action.showTable()">
            <md-icon>
                arrow_back
            </md-icon>
        </md-button>

        <md-button class="md-mini md-fab expandButton"
                   data-ng-class="{'expandButtonExpanded' : vm.flags.fullChart}" data-ng-click="vm.action.search()">
            <md-icon>
                refresh
            </md-icon>
        </md-button>
        </div>
        <div layout="row" flex="" md-whiteframe="2" layout-fill>
            <nvd3 options="vm.data.chart.options" data="vm.data.chart.data" api="vm.data.chart.api"
                  class="with-3d-shadow with-transitions" flex="100"></nvd3>
        </div>
    </div>

</div>
