<div layout="row" md-whiteframe="2" class="content-margin">
    <div flex="15">
        <md-input-container flex="95">
            <label>Country</label>
            <input type="text" name="country" id="country" data-ng-model="vm.address.country">
        </md-input-container>
    </div>
    <div flex="15">
        <md-input-container flex="95">
            <label>City</label>
            <input type="text" name="city" id="city" data-ng-model="vm.address.city">
        </md-input-container>
    </div>

    <div flex="15">
        <md-input-container flex="95">
            <label>County</label>
            <input type="text" name="county" id="county" data-ng-model="vm.address.county">
        </md-input-container>
    </div>

    <div layout="row" flex="35">
        <md-input-container flex="95">
            <label>Street</label>
            <input type="text" name="street" id="street" data-ng-model="vm.address.addressLine">
        </md-input-container>
    </div>

    <div flex="10">
        <md-input-container flex="95">
            <label>Latitude</label>
            <input type="text" name="latitude" id="latitude" data-ng-model="vm.address.latitude">
        </md-input-container>
    </div>
    <div flex="10">
        <md-input-container flex="95">
            <label>Longitude</label>
            <input type="text" name="longitude" id="longitude" data-ng-model="vm.address.longitude">
        </md-input-container>
    </div>

</div>