<md-content style="width: 100%; height: 100%;">
    <div layout="row" flex="">
        <header-bar flex=""></header-bar>
    </div>
    <div layout="row">

        <div ui-view="" layout-padding="" layout-fill=""></div>
    </div>
</md-content>
