<div layout="column" layout-align="center center" layout-padding="" style="height: 100%">
    <div layout="column" md-whiteframe="2" style="min-width:400px; width: 400px; ">
        <div layout="row">
            <h3 data-ng-if="vm.flag.login">Login</h3>
            <h3 data-ng-if="!vm.flag.login">Register</h3>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Username</label>
                <input name="username" id="username" data-ng-model="vm.credentials.username">
            </md-input-container>
        </div>

        <div layout="column" data-ng-if="!vm.flag.login">
            <div layout="row">
                <md-input-container flex>
                    <label>Name</label>
                    <input name="fullName" id="fullName" type="text" data-ng-model="vm.credentials.name">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label>Email</label>
                    <input name="email" id="email" type="email" data-ng-model="vm.credentials.email">
                </md-input-container>
            </div>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Password</label>
                <input name="password" id="password" type="password" data-ng-model="vm.credentials.password">
            </md-input-container>
        </div>
        <div layout="row" layout-align="space-around center">
            <md-button data-ng-if="vm.flag.login" data-ng-click="vm.flag.login = false">Register</md-button>
            <md-button data-ng-if="vm.flag.login" data-ng-click="vm.action.login(vm.credentials)"
                       class="md-raised md-primary">
                Login
            </md-button>
            <md-button data-ng-if="!vm.flag.login" data-ng-click="vm.flag.login = true">Login</md-button>
            <md-button data-ng-if="!vm.flag.login" data-ng-click="vm.action.register(vm.credentials)"
                       class="md-raised md-primary">
                Register
            </md-button>
        </div>
    </div>
</div>