<md-dialog style="min-width: 400px">
    <ng-form name="sensorForm" id="sensorForm"  ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row">
                    <div layout="row" flex="80">
                        <md-input-container flex="95">
                            <label> Name </label>
                            <input name="sensorName" id="sensorName" data-ng-model="vm.sensor.name">
                        </md-input-container>
                    </div>
                    <div layout="row" flex="20">
                        <md-input-container flex="">
                            <label> Interval </label>
                            <input name="sensorInterval" id="sensorInterval" data-ng-model="vm.sensor.interval">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <div layout="row" flex="50">
                        <md-input-container flex>
                            <label>Type</label>
                            <md-select ng-model="vm.sensor.type">
                                <md-option ng-repeat="type in vm.catalog.types" ng-value="type.key">
                                    {{type.description}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row" flex="50">
                        <md-input-container flex>
                            <label>Unit</label>
                            <md-select ng-model="vm.sensor.unit">
                                <md-option ng-repeat="unit in vm.catalog.units" ng-value="unit.key">
                                    {{unit.description}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button data-ng-click="vm.action.close()">Cancel</md-button>
            <md-button class="md-raised" data-ng-click="vm.action.save()">Save</md-button>
        </md-dialog-actions>
    </ng-form>

</md-dialog>